include mixins/_nav

doctype html
html
  head
    title= `${title || 'Shipment'} | ${h.siteName}`
    link(rel='stylesheet', href='/dist/style.css')
    link(rel="shortcut icon" type="image/png" href="/images/icons/ezyimport.png")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(http-equiv="refresh" content="3")
  body
    block main
      .main
        block header
          .header
        block nav

        .content
          block content

        block messages
          .flashes
            if locals.flashes
              .flash-messages
                - const categories = Object.keys(locals.flashes)
                each category in categories
                  each message in flashes[category]
                    .flash(class=`flash--${category}`)
                      p.flash__text!= message
                      button.flash__remove(onClick="this.parentElement.remove()") &times;
        block margins
          .left
          .right

        block footer

      block scripts
        script(src="/dist/fa/fontawesome-all.js")
        script(src="/dist/App.bundle.js")
